/* stylesheet.css */

.error {
	color: #FF0000;
}

.header {
	text-align: center;
	font-style: bold;
	font-size: 24;
	color: aqua;
	background-color: black
}

.footer {
	font-size: 10px;
	font-style: italic;
}

body {
  border-left: 50px solid green;
  border-right: 50px solid green;
}